{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE >= 11"
        ]
      },
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}